<div
  class="m-auto text-center py-10 flex flex-col items-center justify-center gap-y-8"
>
  <button
    class="tgt rounded-xl bg-white text-black py-2 px-8 font-bold border border-white"
    >Calcular</button
  >

  <div class="flex flex-col gap-y-1 items-start">
    <label class="font-semibold"> Valor - Cuota del equipo:</label>
    <input
      class="text-black rounded-s py-1 px-2"
      type="text"
      id="txtNum1"
      name="txtNum1"
    />
  </div>

  <div class="flex flex-col gap-y-1 items-start">
    <label class="font-semibold">Valor - Cuota de Fondo:</label>
    <input
      class="text-black rounded-s py-1 px-2"
      type="text"
      id="txtNum2"
      name="txtNum2"
    />
  </div>

  <div class="flex flex-col gap-y-1 items-start">
    <label class="font-semibold">Valor - Pendiente:</label>
    <input
      class="text-black rounded-s py-1 px-2"
      type="text"
      id="txtNum3"
      name="txtNum3"
    />
  </div>

  <div class="flex flex-col gap-y-1 items-start">
    <label class="font-semibold">Valor - Distancia:</label>
    <input
      class="text-black rounded-s py-1 px-2"
      type="text"
      id="txtNum4"
      name="txtNum4"
    />
  </div>

  <div class="flex flex-col gap-y-1 items-start">
    <label class="font-semibold">El resultado es:</label>
    <input
      class="text-white rounded-lg py-2 px-1 text-center font-bold text-xl bg-gray-700"
      type="text"
      id="txtResult"
      name="txtResult"
      disabled
    />
  </div>
</div>

<script>
  const buttons = document.querySelectorAll("button.tgt");
  buttons.forEach((button) => {
    button.addEventListener("click", () => {
      let num1 = Number(
        (document.getElementById("txtNum1") as HTMLInputElement).value
      );
      let num2 = Number(
        (document.getElementById("txtNum2") as HTMLInputElement).value
      );
      let num3 = Number(
        (document.getElementById("txtNum3") as HTMLInputElement).value
      );
      let num4 = Number(
        (document.getElementById("txtNum4") as HTMLInputElement).value
      );

      const sum =
        Math.round((num1 - (num2 - (num3 / 1000) * 1.2) + num4) * 100) / 100;
      (document.getElementById("txtResult") as HTMLInputElement).value =
        String(sum);
    });
  });
</script>
